
html,body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    background-color: #7D8CA3;
}

.fond{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fond h1{
    color: #FFFFC7;
    font-size: 50px;
    text-align: center;
}

.container{
    width: 100%;
    display: flex;
    background-color: #7D8CA3;

}
.container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #7D8CA3;
    margin-bottom: 50px;
}
.container3{
    border-top: 2px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7D8CA3;
}



/* ZONE sous image d'accueil */
.zone{
    text-align: center;
    background-color: #36393B;
    width: 33.33%;
}
#middle{
    border-left: 5px dotted white;
    border-right: 5px dotted white;
}
.zone section{
    padding: 20px;
}

.zone section p{
    font-size: 1.5em;
    color: #FFFFC7;
    padding: 10px;
}

.zone section h2{
    font-size: 2em;
    color: #FCAA67;
}
/* PArtie Exemple */
.title{
    text-align: center;
    color: #FCAA67;
    font-size: 1.5em;
}
.responsiveImg{
    width: 100%;
    display: flex;
    justify-content: center;
}
.responsiveImg h2{
    color: #FCAA67;
}
.responsiveImg img{
    width: 70%;
    border-radius: 20px;
    box-shadow: 15px 15px 30px #36393B;
}
/* DEBUT FORMULAIRE */
fieldset{
    width: 50%;
    margin: 50px 0;
    background-color: #36393B;
    box-shadow: 15px 15px 50px black;
}

legend{
    font-size: 30px;
    text-align: center;
    color: #FCAA67;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label{
    font-size: 20px;
    font-weight: bold;
    color: #FCAA67;
}

form div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messBox{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.messLabel{
    margin-top: 20px;
}

.mailBox{
    margin-top: 20px;
}

#message{
    width: 90%;
    height: 100px;
    margin-bottom: 20px;
    resize: none;
    border-radius: 10px;
}
#message:focus{
    box-shadow: 5px 5px 10px #FFFFC7;
}

#name{
    height: 30px;
    width: 60%;
    min-width: 200px;
    border-radius: 10px;
}
#name:focus{
    box-shadow: 5px 5px 10px #FFFFC7;
}

#mail{
    height: 30px;
    width: 60%;
    min-width: 200px;
    border-radius: 10px;
}

#mail:focus{
    box-shadow: 5px 5px 10px #FFFFC7;
}
form button{
    margin: 20px;
    align-self: center;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: #FFFFC7;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
    font-weight: bold;
}

/* FOOTER */
footer{
    height: 100px;
    width: 100%;
    background-color: #36393B;
    display: flex;
    align-items: center;

}
footer ul{
    width: 100%;
    list-style: none;
    color: #FCAA67;
    text-decoration: none;
    padding: 0;
}
footer a{
    text-decoration: none;
    color: #FCAA67;
}

footer a:hover{
    color: #FFFFC7;
}

/* Responsive */
@media (orientation: portrait){
    .fond{
        background-image: url(../img/coworking-portrait.jpg);
        background-size: cover;
    }
}

@media (orientation: landscape){
    .fond{
        background-image: url(../img/coworking-paysage.jpg);
        background-size: cover;
    }
}

@media (min-width:1024px){
    .fond{
        height: 50%;
    }
}

@media (min-width:992px){
    footer ul{
        display: flex;
        justify-content: space-around;
    }
}